<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List - an app for learning full-stack javascript</title>
    <link rel="stylesheet" href="/stylesheets/todo.css" />
</head>
<body>
    
        <section class="todoapp">
            <header class="header">
                <form action="/" method="POST">
                    <h1>todos</h1>
                    <input class="new-todo" placeholder="What needs to be done?" autofocus />
                    <button class="add-todo">+</button>
                </form>
            </header>
            <section class="main">
                <ul class="todo-list">
                    <% todos.forEach( task => { %>
                        <li <%if (task.status === "completed") { %>class="completed" <% } %>>
                            <div class="view">
                                <input class="toggle" type="checkbox" <%if (task.status === "completed") { %>checked <% } %>/>
                                <label><%= task.body %></label>
                                <button class="destroy"></button>
                            </div>
                        </li>
                    <% }) %>
                </ul>
                <footer class="footer">
                    <span class="todo-count"><%= remaining %> item<%if (remaining > 1) { %>s<% }%> left</span>
                </footer>
            </section>
        </section>
    </form>
    <script type="javscript" src="/js/todo.js"></script>
</body>
</html>